$void: polygon(50% 50%, 50% 50%, 50% 50% );

$fb:polygon(36.42% 49.85%, 36.42% 44.37%, 31.51% 47.42% ),
polygon(36.42% 44.37%, 36.42% 40.52%, 31.51% 31.2% ),
polygon(31.51% 47.42%, 36.42% 44.37%, 31.51% 31.2% ),
polygon(36.42% 56.75%, 36.42% 49.85%, 31.51% 47.42% ),
polygon(31.51% 63.65%, 36.42% 56.75%, 31.51% 47.42% ),
polygon(36.42% 40.52%, 36.42% 36.68%, 31.51% 31.2% ),
polygon(42.3% 36.68%, 48.19% 31.2%, 39.85% 31.2% ),
polygon(36.42% 36.68%, 42.3% 36.68%, 39.85% 31.2% ),
polygon(31.51% 31.2%, 36.42% 36.68%, 39.85% 31.2% ),
polygon(48.19% 36.68%, 48.19% 33.93%, 42.3% 36.68% ),
polygon(46.58% 49.85%, 46.58% 47.12%, 41.5% 49.85% ),
polygon(46.58% 44.37%, 41.5% 44.37%, 41.5% 49.85% ),
polygon(46.58% 47.12%, 46.58% 44.37%, 41.5% 49.85% ),
polygon(48.19% 33.93%, 48.19% 31.2%, 42.3% 36.68% ),
polygon(33.96% 63.65%, 36.42% 56.75%, 31.51% 63.65% ),
polygon(36.42% 60.2%, 36.42% 56.75%, 33.96% 63.65% ),
polygon(36.42% 63.65%, 36.42% 60.2%, 33.96% 63.65% ),
polygon(41.5% 44.37%, 36.42% 44.37%, 41.5% 49.85% ),
polygon(41.5% 49.85%, 36.42% 44.37%, 36.42% 49.85% ),
polygon(67.56% 53.93%, 71.88% 58.55%, 72.65% 54.23% ),
polygon(72.65% 54.23%, 71.45% 49.35%, 67.04% 51.45% ),
polygon(67.56% 53.93%, 72.65% 54.23%, 67.04% 51.45% ),
polygon(60.39% 44.1%, 57.18% 49.5%, 61.14% 49.5% ),
polygon(65.5% 49.97%, 63.96% 43.98%, 61.14% 49.5% ),
polygon(61.14% 49.5%, 63.96% 43.98%, 60.39% 44.1% ),
polygon(57.18% 44.1%, 57.18% 49.5%, 60.39% 44.1% ),
polygon(68.84% 32.85%, 66.3% 31.52%, 66.05% 37.85% ),
polygon(52.26% 31.2%, 52.26% 63.65%, 57.18% 49.5% ),
polygon(60% 36.6%, 61.99% 31.2%, 57.18% 36.6% ),
polygon(52.26% 63.65%, 60.54% 63.65%, 57.18% 58.18% ),
polygon(57.18% 49.5%, 52.26% 63.65%, 57.18% 58.18% ),
polygon(57.18% 36.6%, 52.26% 31.2%, 57.18% 44.1% ),
polygon(61.99% 31.2%, 52.26% 31.2%, 57.18% 36.6% ),
polygon(57.18% 44.1%, 52.26% 31.2%, 57.18% 49.5% ),
polygon(65.09% 57.98%, 69.76% 61.88%, 66.88% 56.68% ),
polygon(69.76% 61.88%, 71.88% 58.55%, 66.88% 56.68% ),
polygon(66.47% 63.42%, 69.76% 61.88%, 65.09% 57.98% ),
polygon(61.73% 58.18%, 66.47% 63.42%, 65.09% 57.98% ),
polygon(57.18% 58.18%, 60.54% 63.65%, 61.73% 58.18% ),
polygon(60.54% 63.65%, 66.47% 63.42%, 61.73% 58.18% ),
polygon(66.05% 37.85%, 66.3% 31.52%, 64.2% 36.7% ),
polygon(63.96% 43.98%, 68.03% 46.4%, 65.95% 42.83% ),
polygon(70.53% 43.55%, 71.45% 39.37%, 66.67% 40.3% ),
polygon(64.2% 36.7%, 61.99% 31.2%, 60% 36.6% ),
polygon(65.95% 42.83%, 68.03% 46.4%, 66.67% 40.3% ),
polygon(71.45% 49.35%, 68.03% 46.4%, 65.5% 49.97% ),
polygon(65.5% 49.97%, 68.03% 46.4%, 63.96% 43.98% ),
polygon(68.03% 46.4%, 70.53% 43.55%, 66.67% 40.3% ),
polygon(66.88% 56.68%, 71.88% 58.55%, 67.56% 53.93% ),
polygon(67.04% 51.45%, 71.45% 49.35%, 65.5% 49.97% ),
polygon(66.3% 31.52%, 61.99% 31.2%, 64.2% 36.7% ),
polygon(70.7% 35.57%, 68.84% 32.85%, 66.67% 40.3% ),
polygon(71.45% 39.37%, 70.7% 35.57%, 66.67% 40.3% ),
polygon(66.67% 40.3%, 68.84% 32.85%, 66.05% 37.85% );


$vk:polygon(38.98% 55.23%, 45.79% 47.43%, 41.95% 43.22% ),
polygon(41.42% 63.67%, 45.79% 47.43%, 38.98% 55.23% ),
polygon(44.94% 31.22%, 41.95% 43.22%, 47.54% 31.22% ),
polygon(45.79% 47.43%, 50.15% 31.22%, 41.95% 43.22% ),
polygon(38.8% 63.67%, 41.42% 63.67%, 38.98% 55.23% ),
polygon(36.19% 63.67%, 38.8% 63.67%, 38.98% 55.23% ),
polygon(30.15% 31.22%, 27.49% 31.22%, 35.89% 43.22% ),
polygon(32.81% 31.22%, 30.15% 31.22%, 35.89% 43.22% ),
polygon(27.49% 31.22%, 31.84% 47.43%, 35.89% 43.22% ),
polygon(41.95% 43.22%, 50.15% 31.22%, 47.54% 31.22% ),
polygon(35.89% 43.22%, 31.84% 47.43%, 38.98% 55.23% ),
polygon(31.84% 47.43%, 36.19% 63.67%, 38.98% 55.23% ),
polygon(57.64% 45.63%, 61.61% 48.43%, 65% 43.85% ),
polygon(62.6% 38.42%, 57.64% 45.63%, 65% 43.85% ),
polygon(69.59% 37.53%, 62.6% 38.42%, 65% 43.85% ),
polygon(67.56% 31.22%, 62.6% 38.42%, 69.59% 37.53% ),
polygon(70.86% 31.22%, 67.56% 31.22%, 69.59% 37.53% ),
polygon(74.16% 31.22%, 70.86% 31.22%, 69.59% 37.53% ),
polygon(69.84% 53.77%, 71.49% 63.67%, 74.66% 63.67% ),
polygon(68.31% 63.67%, 71.49% 63.67%, 69.84% 53.77% ),
polygon(65% 43.85%, 61.61% 48.43%, 69.84% 53.77% ),
polygon(61.61% 48.43%, 64.96% 56.05%, 69.84% 53.77% ),
polygon(64.96% 56.05%, 68.31% 63.67%, 69.84% 53.77% ),
polygon(57.64% 63.67%, 57.64% 58.77%, 55.18% 63.67% ),
polygon(52.71% 31.22%, 52.71% 47.43%, 57.64% 38.42% ),
polygon(55.18% 31.22%, 52.71% 31.22%, 57.64% 38.42% ),
polygon(57.64% 31.22%, 55.18% 31.22%, 57.64% 38.42% ),
polygon(52.71% 47.43%, 57.64% 53.87%, 57.64% 45.63% ),
polygon(57.64% 38.42%, 52.71% 47.43%, 57.64% 45.63% ),
polygon(55.18% 63.67%, 57.64% 53.87%, 52.71% 63.67% ),
polygon(52.71% 63.67%, 57.64% 53.87%, 52.71% 47.43% ),
polygon(57.64% 58.77%, 57.64% 53.87%, 55.18% 63.67% ),
polygon(57.64% 53.87%, 59.62% 51.15%, 57.64% 45.63% ),
polygon(59.62% 51.15%, 61.61% 48.43%, 57.64% 45.63% );

@mixin render($obj){
	@for $i from 1 through 100{		
		.p#{$i}{
			transition-delay: random(500) + ms !important;
			background:rgba(#f0f, random(10)/11);
			@if length($obj) >= $i {				
				clip-path: nth($obj, $i);
			} @else{		
				clip-path: $void;
			}
		}
	}
}
	
@include render($vk);
.fb{
	@include render($fb);
}
.canvas{
	position: relative;
	width: 800px;
	height: 600px;
	border: 1px solid green;
	&>*{
		position: absolute;
		width: 800px;
		height: 600px;
		//background: #f00;
		left: 0;
		top: 0;
		transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	}
}


canvas{
	border: 1px solid tomato;
}

h2{
	margin-bottom: 25px;
	margin-top: 45px
}
body{
	padding: 40px;
}